In [1]:
import pandas as pd
import numpy as np

from random import sample
from utility import *

pd.set_option('display.max_columns', 100)

In [2]:
df_games = pd.read_csv('./data/game_df.csv')

In [3]:
df_games.head(1)

Empty DataFrame
Columns: [game_id, a1_team, a1_goals, a2_team, a2_goals, a3_team, a3_goals, b1_team, b1_goals, b2_team, b2_goals, b3_team, b3_goals, c1_team, c1_goals, c2_team, c2_goals, d1_team, d1_goals, d2_team, d2_goals, score_difference, team1_victory]
Index: []

In [4]:
players = ['a1',
          'a2',
          'a3',
          'b1',
          'b2',
          'b3',
          'c1',
          'c2',
          'd1',
          'd2']

In [5]:
df_games = populate_games(100, players, df_games)

[2]
[2]
[-1]
[1]

In [6]:
df_games.head(10)

,game_id,a1_team,a1_goals,a2_team,a2_goals,a3_team,a3_goals,b1_team,b1_goals,b2_team,b2_goals,b3_team,b3_goals,c1_team,c1_goals,c2_team,c2_goals,d1_team,d1_goals,d2_team,d2_goals,score_difference,team1_victory
0,1,0,2,1,1,1,1,1,1,0,0,0,1,0,-1,1,-1,1,0,0,0,0,0
1,2,0,1,1,1,0,1,1,0,1,1,0,0,0,-1,0,0,1,-2,1,-1,-2,0