In [1]:
print("test")

test

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = [10,20,30,40,50,60]
df = pd.DataFrame(data, columns=['Numbers'])

In [4]:
df

   Numbers
0       10
1       20
2       30
3       40
4       50
5       60

In [5]:
df.to_csv('test.csv')

In [ ]:
multipliers = [2,3,4]
 2|  for i in multipliers:
 3|      df[f'times_{i}'] = df['A'] * i